<form action="/update-poi/{{poi._id}}" method="POST">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: name"></span>
            <input class="uk-input uk-form-large" type="text" name="name" value="{{poi.name}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: description"></span>
            <input class="uk-input uk-form-large" type="text" name="description" value="{{poi.description}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lat"></span>
            <input class="uk-input uk-form-large" type="number" step=".01" name="lat" value="{{poi.lat}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lon"></span>
            <input class="uk-input uk-form-large" type="number" step=".01" name="lon" value="{{poi.lon}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-form-label">Choose Category</div>
        <div class="uk-form-controls">
            <label>
                <input class="uk-radio" type="radio" name="category" value="Long Walk"> Long Walk </label>
            <label>
                <input class="uk-radio" type="radio" name="category" value="Short Walk"> Short Walk </label><br>
            <label>
                <input class="uk-radio" type="radio" name="category" value="Cycle Path"> Cycle Path </label>
            <label>
                <input class="uk-radio" type="radio" name="category" value="Mountain Path"> Mountain Path </label>
        </div>
    </div>
    <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Update Walk</button>
    </div>
</form>